/*reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Project CSS*/

body {
    font-family: "Rubik", sans-serif;
    color: white;
    font-weight: 400;
}


/*Header*/

.background__header {
    background-color: darkslateblue;
    overflow: hidden;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    font-weight: 500;
}

.header {
    display: flex;
    justify-content: space-between;
}
.header__title {
    margin: 150px 80px;
}

.header__title h1 {
    font-size: 70px;
}

h2{
    font-size: 35px;
    padding-top: 25px;
}

.header__photo {
    transform: translate(120%, 0px);
    opacity: 0;
}


/*.header__photo*/

.active{
    transform: translate(0px, 0px);
    transition: all 0.8s ease 0s;
    opacity: 1;
}

.header__photo img{
    width: 400px;
    padding: 60px;
    padding-left: 20px;
}


/*About me*/

.title__style {
    color: darkslateblue;
    text-align: center;
    padding-top: 70px;
}

.aboutme__text {
    color: gray;
    line-height: 1.6;
    font-size: 15px;
    width: 60%;
    font-weight: 300;
    margin: 50px auto;
}

.background__skills {
    background-color: #ebf4fa;
}

.skills {
    display: flex;
    justify-content: space-between;
}

.skills__technology {
    color: gray;
    margin: 30px 0;
}

.skills__block {
    width: 40%;
}


/* Professional skills progress*/

.progress__line-bg {
    background-color: #e7e7e7;
    width: 100%;
    border-radius: 10px;
    height: 10px;
    border: 1px solid #b8b8b8;
}

.progress__line {
    background-color: rebeccapurple;
    border-radius: 10px;
    height: 10px;
    transition: all 5s ease 0s;
    width: 1%;
}


/*extra skills*/

.extraskills__title {
    margin-left: 0px;
    color: darkslateblue;
    font-size: 30px;
    font-weight: 500;
    padding: 25px 0;
    display: flex;
    justify-content: flex-start;
    transition: 1s all 0s;
    opacity: 1;
}

.big {
    opacity: 0.5;
}

.extraskills__title h4{
    cursor: pointer;
    padding-left: 30px;
}

.extraskills__title img {
    width: 30px;
    padding: 0 0 5px 30px;
    margin-top: -2px;
    cursor: pointer;
}

.extraskills__wrapper {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 0;
    transition: 2s all 0s;
}

.extraskills__block {
    color: gray;
    width: 130px;
    text-align: center;

}

.extraskills__block img {
    width: 100px;
}

.extraskills__block > h5 {
    margin: 20px auto;
}



.skills {
    padding: 0 30px 35px 30px;
}

.background__extraskills > .container {
    padding: 35px 0;
}


/*education*/

.title__education {
    margin-top: -70px;
    margin-bottom: 30px;
}

.education__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #c6c3c3;
    padding: 0 10px 30px 10px;
}

.education__block-years {
    background-color: darkslateblue;
    color: white;
    font-size: 22px;
    padding: 12px 20px;
    line-height: 1.25;
    border-radius: 5px;
}

.education__block-universe{
    border: 2px solid #e3e3e3;
    border-radius: 5px;
    padding: 10px 50px;
    width: 800px;
}

.education__block-universe-title {
    font-size: 28px;
    color: darkslateblue;
    font-weight: 300;
}

.education__block-universe-text {
    display: none;
    padding-top: 15px;
    font-size: 18px;
    line-height: 1.5;
}

.education__block-universe-text.show {
    display: block;
}

.education__block-showmore {
    font-size: 35px;
    font-weight: 300;
    cursor: pointer;
    padding-right: 20px;
}

.education:last-child {
    padding-bottom: 50px;
}

/*work experience*/
.background__workexperience {
    background-color: darkslateblue;
    height: 400px;
}
.workexperience__wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    width: 100%;
}

.workexperience__title {
    font-size: 35px;
    width: 35%;
    padding-right: 20px;
}

.workexperience__line {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50px;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 5px solid white;
    margin: 5px;
}

.line {
    height: 50px;
    width: 6px;
    border: 2px solid white;
    border-radius: 2px;
    background-color: white;
}

.workexperience__text {
    width: 60%;
    font-weight: 300;
    font-size: 25px;
    position: relative;
    top: 58px;
}

.workexperience__text-block {
    padding-bottom: 69px;
}


/*photo*/

.title__photo {
    font-size: 35px;
    color: darkslateblue;
    padding-bottom: 50px;
}

.photo__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
}

.photo__item img{
    width: 95%;
    height: 150px;
    transition: 1s all 0s;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .1);
}

.photo__item img:hover {
    width: 100%;
    height: 160px;
    position: static;
    cursor: pointer;
}


/*modal*/

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal__content {
    margin: 15% auto;
}

.modal__content img {
    width: 600px;
}

.close__modal {
    font-size: 25px;
    position: relative;
    left: 600px;
}

.close__modal p {
    cursor: pointer;
}

/*media*/

@media (max-width : 1147px) {
    .education__block-universe {
        padding: 10px 14px;

    }
    .background__header {
        height: 630px;
    }

}

@media (max-width : 1062px){
    .education__block-universe {
        width: 715px;

    }
    .workexperience__title {
        padding-left: 20px;
    }
}

@media (max-width : 994px){
    .education__block-universe {
        width: 680px;
        font-size: 24px;
    }
    .education__block-years {
        font-size: 20px;
    }

    .workexperience__title {
        padding-left: 20px;
    }

    .photo__item img {
        height: 120px;
    }

    .education__block-showmore {
        padding-right: 10px;
    }

}

@media (max-width : 927px) {
    .education__block-universe-title {
        font-size: 23px;
    }
    .education__block-universe {
        width: 60%;
    }
    .workexperience__text-block {
        padding-bottom: 76px;
    }
    .workexperience__line {
        padding-right: 20px;
    }

    .education__block-showmore {
        padding-right: 41px;
    }
}

@media (max-width : 825px) {
    .header h2 {
        width: 261px;
    }

    .header__photo img {
        width: 348px;
        padding-left: 20px;
    }
}

@media (max-width : 811px){
    .photo__wrapper {
        flex-wrap: wrap;
        justify-content: center
    }
}

@media (max-width : 787px) {
    .header__photo img {
        position: relative;
        right: 42px;
        width: 324px;
    }

    .header__title h1 {
        font-size: 57px;
    }

    .header__title h1 {
        position: relative;
        bottom: 30px;
    }
    .background__header {
        height: 587px;
    }

}

@media (max-width : 719px) {
    .header__photo img {
        width: 284px;
    }

    .header__title h1 {
        font-size: 48px;
    }

    .header h2 {
        font-size: 33px;
        padding-top: 14px;
    }

    .background__header {
        height: 552px;
    }
}

@media (max-width : 659px) {
    .header__photo img {
        width: 279px;
    }

    .header__photo img {
        right: 79px;
    }

    .header h2 {
        font-size: 28px;
    }

    .education__block-showmore {
        padding-right: 0;
    }

    .education__block {
        padding: 0 25px 30px 10px;
    }

    .workexperience__text-block {
        padding-bottom: 62px;
    }

    .header__title h1 {
        left: -31px;
    }

    .header h2 {
        position: relative;
        left: -31px;
    }
}

@media (max-width : 659px) {
    .header__photo img {
        right: 98px;
    }
}

@media (max-width : 659px) {
    .header__photo img {
        right: 123px;
    }
}

@media (max-width : 597px) {
    .header__photo img {
        right: 153px;
        width: 256px;
    }
}

@media (max-width : 561px) {
    .title__style {
        padding-top: 40px;
    }

    .aboutme__text {
        margin: 31px auto
    }

    .education__block-universe-title {
        font-size: 17px;
    }

    .education__block-years {
        font-size: 17px;
    }

    .workexperience__title {
        font-size: 28px;
        width: 26%;
        padding-right: 12px;
    }

    .line {
        height: 43px;
        width: 2px;
    }

    .workexperience__text-block {
        font-size: 20px;
    }

    .title__photo {
        font-size: 29px;
        padding-bottom: 44px;
    }
    .title__style {
        padding-top: 50px;
    }
    .close__modal img {
        width: 400px;
    }
}

@media (max-width : 535px) {
    .header__title h1 {
        left: -54px;
    }

    .header h2 {
        left: -54px;
    }

    .header__photo img {
        right: 162px;
        width: 237px;
    }
    .background__header {
        height: 430px;
    }
    .aboutme__text {
        width: 80%;
    }
}

@media (max-width : 493px) {
    .header__title {
        margin: 99px 80px;
    }

    .header__title {
        font-size: 40px;
    }

    .header h2 {
        font-size: 24px;
    }

    .header__photo img {
        right: 211px;
        width: 221px;
    }

    .background__header {
        height: 383px;
    }

    .extraskills__block img {
        width: 75px;
    }

    .extraskills__title h4 {
        font-size: 25px;
    }

    .education__block-years {
        font-size: 13px;
    }

    .education__block-universe-title {
        font-size: 15px;
    }

    .workexperience__title {
        font-size: 23px;
    }

    .circle {
        width: 20px;
        height: 20px;
    }

    .workexperience__text-block {
        font-size: 17px;
        padding-bottom: 65px;
    }

    .education__block-universe-text {
        font-size: 13px;
    }
}

@media (max-width : 441px) {
    .header__title h1 {
        font-size: 39px;
    }
    .header h2 {
        font-size: 16px;
    }
    .header__photo img {
        width: 194px;
    }
    .background__header {
        height: 361px;
    }
    h2 {
        font-size: 28px;
        padding-top: 25px;
    }
    .photo__wrapper {
        padding-bottom: 79px;
    }
    .education__block {
        padding: 0px 10px 30px 10px;
    }

}

@media (max-width : 441px) {
    .header__title h1 {
        font-size: 34px;
    }
    .header h2 {
        font-size: 15px;
    }

    .header h2 {
        padding-top: 5px;
    }
    .header__photo img {
        width: 173px;
    }

}

@media (max-width : 375px) {
    .header__photo img {
        width: 198px;
        position: relative;
        bottom: 50px;
        bottom: -92px;
        right: 261px;
    }
    .extraskills__block img {
        width: 65px;
    }
    .education__block-years {
        font-size: 12px;
        padding: 7px 5px;
    }
    .modal__content img {
        width: 373px;
    }

    .photo__item img {
        width: 150px;
        height: auto;
    }


}